@use '../base/functions' as fun;
@use '../base/variables' as var;

body{
    background-color: fun.color('bg');
    position: relative;
    overflow-x: hidden;
}

.container{
    margin: auto;
    width: 90%;
    max-width: var.$limit-width;
    position: relative;
    &--bg{
        background-color: fun.color('bg-dark');
        padding: 60px 0;
        position: relative;
        background-color: fun.color('bg-dark');
    }
    &--relative{
        position: relative;
    }
    &--center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    main{
        padding-top: 70px;
    }
}