@use '../base/functions' as fun;

.error{
    width: 100%;
    background-color: fun.color('danger');
    padding: 10px 30px;
    font-size: 1.5rem;
    color: fun.color('white');
    text-align: center;
    border-radius: 5px;
    width: fit-content;
    margin: 30px auto;
    &.secondary{
        background-color: fun.color('secondary');
    }
}

p.error--form{
    color: fun.color('danger');
    font-size: 1.3rem;
    margin-top: 5px;
}