@use '../base/functions' as fun;

.custom-fonts{
    h1{ 
        font-size: 2.7rem;
        text-transform: uppercase;
        text-align: center;
        color: fun.color('secondary');
    }
    h3{
        font-size: 2rem; 
        text-transform: uppercase;
        color: fun.color('secondary');
    }
    p{
        font-size: 1.7rem
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .custom-fonts{
        h1{ 
            font-size: 2rem;
        }
        h3{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.6rem;
        }
    }
}