.hero-section{
    .hero-item{
        &:first-child{
            width: 100%;
            max-width: 500px;
            margin: auto;
            display: flex;
            padding: 4rem 0 10rem 0;
            img{
                width: 100%;
                filter: grayscale(100%);
                transition: .5s ease filter;
                body.light & {
                    filter: grayscale(0);
                }
            }
        }
        &:last-child{
            position: absolute;
            bottom: 0;
            width: 70%;
            max-width: 300px;
            z-index: -1;
            img{
                width: 100%;
                filter: unset;
                transition: .5s ease filter;
                margin-bottom: -3px;
                body.light & {
                    filter: grayscale(100%) brightness(0.95);
                }
            }
        }
    }
}