@use '../base/functions' as fun;
@use '../base/variables' as var;
@import '../components/hamburger';

header{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    z-index: 101;
    svg, img{
        width: 4.5rem;
        transition: .5s ease all;
        filter: brightness(0.3)  grayscale(100%);
        &:hover{
            filter: none;
        }
        body.light &{
            filter: none;
            &:hover{
                filter: brightness(0.3)  grayscale(100%);
            }
        }
    }
    ul{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 2rem;
        li:not(.btn) a{
            font-size: 1.6rem;
            color: fun.color('fifthy');
            font-weight: 600;
            position: relative;
            transition: .5s ease color;
            &::before{
                content: "";
                width: 0;
                background-color: fun.color('primary');
                height: 2px;
                position: absolute;
                right: 0;
                bottom: 0;
                transition: .5s ease width;
            }
            &:hover{
                color: fun.color('primary');
                &::before{
                    width: 100%;
                    right: unset;
                    left: 0;
                }
            }
            body.light &{
                color: fun.color('primary');
                &::before{
                    background-color: fun.color('fifthy');
                }
                &:hover{
                    color: fun.color('fifthy');
                }
            }
        }
        .btn {
            a{
                color: fun.color('white');
            }
        }
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    header{
        position: fixed;
        left: 5%;
        svg, img{
            width: 4rem;
        }
        > a{
            position: relative;
            z-index: 1;
        }
        &.active{
            nav{
                left: 0;
                opacity: 1;
            }
        }
        nav{
            position: absolute;
            width: 100%;
            height: 100svh;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            opacity: 0;
            left: -110%;
            transition: 1s ease all;
            &::before{
                content: "";
                width: 111%;
                left: -5.5%;
                position: absolute;
                height: 100%;
                background-color: fun.color('white');
            }
            ul{
                flex-direction: column;
            }
        }
    }
}